body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("https://opencages.com.ua/_nuxt/img/homepage.0151b74.jpg.webp");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.header::after {
  background: #0c3632;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  top: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.navigation {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 50px; */
  padding: 20px;
}

.logo-link {
  display: flex;
  align-items: center;
  height: 100%;
  /* padding: 0 16px; */
}

.logo-img {
  height: 40px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  display: flex;
  padding: 0 10px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.nav-list-link {
  position: relative;
}

.nav-list-link:hover {
  color: #17baaa;
  transition: all 0.25s ease;
}

.nav-list-link::after {
  background: #17baaa;
  bottom: -8px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: all 0.25s ease;
  width: 100%;
}

.nav-list-link:hover::after {
  transform: scaleX(1);
}

.nav-list li:last-of-type a {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  padding: 0 10px;
  background-color: #dd3d53;
  border-radius: 5px;
  transition: all 0.25s ease;
}

.nav-list li:last-of-type a:hover {
  background-color: #ff5088;
}

.nav-list li:last-of-type a img {
  width: 1em;
  margin-right: 10px;
  font-size: 14px;
}

.nav-toggle {
  display: none;
  font-size: 2rem;
  color: #fff;
}

.burger-icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
  cursor: pointer;
}

/* @media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
} */

@media screen and (max-width: 992px) {
  .nav-list {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
}

.header-content {
  position: relative;
  z-index: 1;
  padding: 16px;
  margin: auto 0;
}

.header-content-title {
  font-size: 56px;
  line-height: 84px;
  color: #fff;
}

.header-content-title-color {
  color: #17baaa;
}

.header-content-btn {
  align-items: center;
  border: 0;
  box-sizing: border-box;
  display: inline-flex;
  background: #17baaa;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  justify-content: center;
  max-width: 100%;
  min-height: 40px;
  outline: none;
  padding: 0 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.header-content-btn:hover {
  background-color: rgb(7, 80, 56);
}
